/*****
    Estilos Globales
*****/

body {
    font-family:
        Inter,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    width: 100vw;
    height: auto;
}

#root {
    width: 100vw;
    height: auto;
}

#root>div {
    width: 100%;
    height: auto;
}